@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

#__next {
  width: 100%;
  height: auto;

  /* background-color: #ffffff;
  background-image: radial-gradient(#3b82f6 0.6px, #ffffff 0.6px);
  background-size: 12px 12px; */
}

html {
  scroll-behavior: smooth;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 50px;
}

html::-webkit-scrollbar-track {
  background: #000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* select {
  -webkit-appearance: none;
  appearance: none;
} */
